@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
	@apply scroll-smooth overflow-x-hidden
}

@layer base {
	@font-face {
		font-family: 'playfair';
		src: url('./assets/font/PlayfairDisplayRegular.ttf');
    font-display: swap;
	}
	@font-face {
		font-family: 'playfair-bold';
		src: url('./assets/font/PlayfairDisplayExtrabold.ttf');
    font-display: swap;
	}
	@font-face {
		font-family: 'playfair-semibold';
		src: url('./assets/font/PlayfairDisplaySemibold.ttf');
    font-display: swap;
	}
	
}

.section-title {
	@apply text-xl tracking-[1rem] uppercase;
}

.section-heading {
	@apply text-5xl font-playfair-semibold first-letter:uppercase;
}

.bg-photo {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
	url(./assets/img/bg.webp) fixed center center/cover;
}

.bg-paper {
	background: url(./assets/img/paper.webp) fixed center center/cover;
}

.shadow-custom-white {
  -webkit-box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.5);
}